body {
    background-color: cadetblue;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.list {
    text-align: center;
}

ul.myUL,
ol.myUL {
    display: inline-block;
    text-align: left;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: mediumvioletred;
}

img {
    align-content: center;
    width: 100px;
    height: auto;
}